@font-face {
  font-family: 'Amiri Quran';
  /* src: url('/fonts/AmiriQuran-Regular.ttf') format('truetype'); */
  /* src: url('/fonts/kfgqpc.otf') format('truetype'); */
  src: url('/fonts/misbah.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  @apply bg-white dark:bg-gray-900 transition-colors duration-300;
}

.arabic-quran {
  font-family: 'Amiri Quran', serif;
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
  line-height: 2.1;
  font-size: 1.4rem;
}