@font-face {
  font-family: 'Amiri Quran';
  src: url('/fonts/AmiriQuran-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.arabic-quran {
  font-family: 'Amiri Quran', serif;
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
  line-height: 2.1;
  font-size: 1.4rem;
}